[Unit]
Description=Browservice is a web "proxy" server that enables browsing the modern web on historical browsers. It works by rendering the browser viewport into images, which are then shown by a JavaScript application running on the client browser.

[Service]
Restart=always
ExecStart=/usr/bin/podman start -a browservice_svc
ExecStop=/usr/bin/podman stop -t 2 browservice_svc

[Install]
WantedBy=local.target
